In [87]:
import pandas as pd
df1 = pd.read_csv('df1.csv')
df1.head()

,Age_group,causes_of_kd,dialysis_centre,diabetes,hypertension,HIV,TB,Education_level
0,41-50,Hypertension,fmc_nguru,no,yes,False,no,Tertiary
1,41-50,Unknown aetiology,ysuth,no,no,False,no,Tertiary
2,60 and Above,Hypertension,ysuth,no,yes,False,no,Non formal
3,51-60,Hypertension,ysuth,no,yes,False,no,Non formal
4,60 and Above,Diabetes,ysuth,yes,no,False,no,Tertiary

In [41]:
df1.head()

      Age_group       causes_of_kd dialysis_centre diabetes hypertension
0         41-50       Hypertension       fmc_nguru       no          yes
1         41-50  Unknown aetiology           ysuth       no           no
2  60 and Above       Hypertension           ysuth       no          yes
3         51-60       Hypertension           ysuth       no          yes
4  60 and Above           Diabetes           ysuth      yes           no

In [25]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["Age_group"], df1["causes_of_kd"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
age_groups = df1["Age_group"].unique()
cause_groups = df1["causes_of_kd"].unique()
pairwise_tests = []

for (age1, age2) in combinations(age_groups, 2):
    subset = df1[df1["Age_group"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["Age_group"], subset["causes_of_kd"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["Age_Group_1", "Age_Group_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 114.20856011872064
Degrees of freedom: 24
P-value: 1.0302010698289805e-13

Pairwise comparisons with Bonferroni correction:
    Age_Group_1   Age_Group_2       P_Value  Adjusted_P_Value
0         41-50  60 and Above  5.061867e-03      5.061867e-02
1         41-50         51-60  1.013932e-01      1.000000e+00
2         41-50         30-40  3.494592e-01      1.000000e+00
3         41-50  Less than 30  4.186680e-06      4.186680e-05
4  60 and Above         51-60  2.370645e-01      1.000000e+00
5  60 and Above         30-40  4.176538e-05      4.176538e-04
6  60 and Above  Less than 30  3.639011e-12      3.639011e-11
7         51-60         30-40  3.338194e-03      3.338194e-02
8         51-60  Less than 30  1.388988e-11      1.388988e-10
9         30-40  Less than 30  1.890646e-03      1.890646e-02

In [15]:
contingency_table

causes_of_kd,Cystic Kidney Disease,Diabetes,Glomerulonephritis,Hypertension,Unknown aetiology,Urological/Structural,other
Age_group,,,,,,,
30-40,0,3,11,36,16,0,6
41-50,2,2,6,41,11,0,3
51-60,1,14,5,66,14,4,2
60 and Above,3,10,4,40,3,5,0
Less than 30,0,1,17,12,26,1,11

In [ ]:
dialysis_centre

In [21]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["causes_of_kd"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["causes_of_kd"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["causes_of_kd"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 102.07069722833809
Degrees of freedom: 24
P-value: 1.3294858328006533e-11

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2       P_Value  Adjusted_P_Value
0         fmc_nguru             ysuth  3.173062e-05      3.173062e-04
1         fmc_nguru              umth  2.517782e-03      2.517782e-02
2         fmc_nguru     ssh_maiduguri  3.179478e-03      3.179478e-02
3         fmc_nguru        ssh_hadeja  3.278563e-01      1.000000e+00
4             ysuth              umth  6.606725e-06      6.606725e-05
5             ysuth     ssh_maiduguri  2.458582e-03      2.458582e-02
6             ysuth        ssh_hadeja  2.489532e-03      2.489532e-02
7              umth     ssh_maiduguri  1.239715e-08      1.239715e-07
8              umth        ssh_hadeja  3.576280e-01      1.000000e+00
9     ssh_maiduguri        ssh_hadeja  3.370789e-04      3.370789e-03

In [23]:
contingency_table

causes_of_kd,Cystic Kidney Disease,Diabetes,Glomerulonephritis,Hypertension,Unknown aetiology,Urological/Structural,other
dialysis_centre,,,,,,,
fmc_nguru,2,4,11,24,1,1,1
ssh_hadeja,1,6,5,15,3,1,4
ssh_maiduguri,0,6,9,72,12,0,0
umth,2,8,14,24,18,7,13
ysuth,1,6,4,60,36,1,4

In [37]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["diabetes"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["diabetes"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["diabetes"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 13.263462674011672
Degrees of freedom: 4
P-value: 0.010057701639675074

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2   P_Value  Adjusted_P_Value
0         fmc_nguru             ysuth  0.331455          1.000000
1         fmc_nguru              umth  1.000000          1.000000
2         fmc_nguru     ssh_maiduguri  0.312004          1.000000
3         fmc_nguru        ssh_hadeja  0.287694          1.000000
4             ysuth              umth  0.110766          1.000000
5             ysuth     ssh_maiduguri  1.000000          1.000000
6             ysuth        ssh_hadeja  0.005983          0.059827
7              umth     ssh_maiduguri  0.108298          1.000000
8              umth        ssh_hadeja  0.269400          1.000000
9     ssh_maiduguri        ssh_hadeja  0.006390          0.063896

In [43]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["hypertension"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["hypertension"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["hypertension"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 10.729079173825165
Degrees of freedom: 4
P-value: 0.02978359046580323

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2   P_Value  Adjusted_P_Value
0         fmc_nguru             ysuth  0.612731          1.000000
1         fmc_nguru              umth  0.015704          0.157037
2         fmc_nguru     ssh_maiduguri  0.521204          1.000000
3         fmc_nguru        ssh_hadeja  0.877122          1.000000
4             ysuth              umth  0.015280          0.152800
5             ysuth     ssh_maiduguri  0.956414          1.000000
6             ysuth        ssh_hadeja  1.000000          1.000000
7              umth     ssh_maiduguri  0.030669          0.306693
8              umth        ssh_hadeja  0.075836          0.758357
9     ssh_maiduguri        ssh_hadeja  0.915858          1.000000

In [47]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["HIV"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["HIV"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["HIV"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 10.15150749149738
Degrees of freedom: 4
P-value: 0.037951445326563714

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2   P_Value  Adjusted_P_Value
0         fmc_nguru              umth  0.250482           1.00000
1         fmc_nguru     ssh_maiduguri  0.592734           1.00000
2             ysuth              umth  0.033361           0.23353
3             ysuth     ssh_maiduguri  0.203055           1.00000
4              umth     ssh_maiduguri  0.571359           1.00000
5              umth        ssh_hadeja  0.340470           1.00000
6     ssh_maiduguri        ssh_hadeja  0.706208           1.00000

In [53]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["TB"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["TB"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["TB"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 4.526453944128363
Degrees of freedom: 4
P-value: 0.339422241146002

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2   P_Value  Adjusted_P_Value
0         fmc_nguru             ysuth  0.675576               1.0
1         fmc_nguru              umth  0.549681               1.0
2         fmc_nguru     ssh_maiduguri  0.172295               1.0
3         fmc_nguru        ssh_hadeja  1.000000               1.0
4             ysuth              umth  1.000000               1.0
5             ysuth     ssh_maiduguri  0.532549               1.0
6             ysuth        ssh_hadeja  1.000000               1.0
7              umth     ssh_maiduguri  0.943688               1.0
8              umth        ssh_hadeja  1.000000               1.0
9     ssh_maiduguri        ssh_hadeja  0.585297               1.0

In [89]:
import pandas as pd
import scipy.stats as stats
from statsmodels.stats.multitest import multipletests
from itertools import combinations


# Create a contingency table
contingency_table = pd.crosstab(df1["dialysis_centre"], df1["Education_level"])

# Perform Chi-Square test
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p}")

# Multiple comparisons: Pairwise chi-square tests with Bonferroni correction
dialysis_centres = df1["dialysis_centre"].unique()
cause_groups = df1["Education_level"].unique()
pairwise_tests = []

for (age1, age2) in combinations(dialysis_centres, 2):
    subset = df1[df1["dialysis_centre"].isin([age1, age2])]
    cont_table = pd.crosstab(subset["dialysis_centre"], subset["Education_level"])
    
    if cont_table.shape[1] > 1:  # Ensure valid contingency table
        chi2_pair, p_pair, _, _ = stats.chi2_contingency(cont_table)
        pairwise_tests.append((age1, age2, p_pair))

# Adjust p-values for multiple comparisons
if pairwise_tests:
    comparisons_df = pd.DataFrame(pairwise_tests, columns=["dialysis_centre_1", "dialysis_centre_2", "P_Value"])
    comparisons_df["Adjusted_P_Value"] = multipletests(comparisons_df["P_Value"], method='bonferroni')[1]
    
    print("\nPairwise comparisons with Bonferroni correction:")
    print(comparisons_df)

Chi-square statistic: 93.90819117467612
Degrees of freedom: 12
P-value: 8.610122038075433e-15

Pairwise comparisons with Bonferroni correction:
  dialysis_centre_1 dialysis_centre_2       P_Value  Adjusted_P_Value
0         fmc_nguru             ysuth  7.293582e-01      1.000000e+00
1         fmc_nguru              umth  1.279549e-04      1.279549e-03
2         fmc_nguru     ssh_maiduguri  2.835084e-10      2.835084e-09
3         fmc_nguru        ssh_hadeja  1.988490e-01      1.000000e+00
4             ysuth              umth  3.634253e-07      3.634253e-06
5             ysuth     ssh_maiduguri  2.764793e-14      2.764793e-13
6             ysuth        ssh_hadeja  1.038905e-01      1.000000e+00
7              umth     ssh_maiduguri  1.885057e-02      1.885057e-01
8              umth        ssh_hadeja  1.004589e-02      1.004589e-01
9     ssh_maiduguri        ssh_hadeja  3.043793e-05      3.043793e-04

In [91]:
contingency_table

Education_level  Non formal  Primary  Secondary  Tertiary
dialysis_centre
fmc_nguru                25        3          7         9
ssh_hadeja               12        6          7        10
ssh_maiduguri             6        7         46        40
umth                     17        3         29        37
ysuth                    61        9         12        30

In [93]:
contingency_table = pd.crosstab(df1["Education_level"], df1["dialysis_centre"])

In [95]:
contingency_table

dialysis_centre  fmc_nguru  ssh_hadeja  ssh_maiduguri  umth  ysuth
Education_level
Non formal              25          12              6    17     61
Primary                  3           6              7     3      9
Secondary                7           7             46    29     12
Tertiary                 9          10             40    37     30

In [99]:
contingency_table.to_excel("contingency_table.xlsx", index=False)

In [101]:
contingency_table2 = pd.crosstab(df1["Age_group"], df1["dialysis_centre"])
contingency_table2

dialysis_centre  fmc_nguru  ssh_hadeja  ssh_maiduguri  umth  ysuth
Age_group
30-40                    7           8             22    14     21
41-50                    6           4             25     8     22
51-60                   10          10             27    31     28
60 and Above            19           5             10    14     17
Less than 30             2           8             15    19     24

In [103]:
contingency_table2.to_excel("contingency_table2.xlsx", index=False)